<% content_for(:title, "#{@trail.name} | TrailFinder") %>

<h1 class="jumbotron"><%= @trail.name %></h1>

<p><%= simple_format(@trail.description) %></p>

<% if @trail.tags.count != 0 %>
  <p><strong>Tags:</br></strong> <% @trail.tags.each do |tag| %>
    <a href="/tags/<%= tag.slug %>"><%= tag.name %></a>
    </br>
  <% end %></p>
<% end %>


<p><strong>Location:</strong>
  <a href="/locations/<%= @trail.location.slug %>"><%= @trail.location.city %>, <%= @trail.location.state %></a>
</p>


<p><a href="/trails/<%= @trail.slug %>/edit">Edit</a></p>
<p><a href="/trails/<%= @trail.slug %>"
      data-confirm="Seriously?!"
      data-method="delete"
      rel="nofollow">Delete</a>
<p><a href="/trails">Return to the homepage</a></p>
