<% content_for(:title, "Edit Location | TrailFinder") %>

<h2 class="jumbotron">Edit <%= @location.city %>, <%= @location.state %></h2>
<%= render("layouts/errors", object: @location) %>

<form action="/locations/<%= @location.slug %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render("form") %>
  </br>
  <button>Update Location</button>
</form>
